@charset "UTF-8";

body{min-width: 320px; width: 100%; overflow-x: hidden}

#header{width: 100%;}
.head_inner{width: 100%;  position: relative;}

.top_logo{text-align: center; height: 56px; height: 3.5rem}
.top_logo a img{width: 57px; height: 60px; width: 3.5625rem; height: 3.75rem}

.top_left{display: flex; flex-direction: row; width: 105px; width: 6.5625rem; height: 27px; height: 1.6875rem; justify-content: space-between; position: absolute; top: 15px; left: 15px; top: 0.9375rem; left: 0.9375rem;}
.top_left_menu a img{width: 23px; height: 27px; width: 1.4375rem; height: 1.6875rem}
.best_10{border: 2px solid #c8102e; width: 68px; height: 23px; width: 4.25rem; height: 1.4375rem; text-align: center; border-radius: 5px; font-size: 14px; font-size: 0.875rem; line-height: 23px; line-height: 1.4375rem; font-weight: bold; box-shadow: 2px 2px 5px #ccc;}
.best_10 a{ color: #c8102e; font-weight: bold}

.top_right{display: flex; flex-direction: row; justify-content: space-between; width: 110px; width: 6.875rem; height: 27px; height: 1.6875rem; position: absolute; right: 15px; top: 15px; right: 0.9375rem; top: 0.9375rem;}
.top_login{}
.top_login button{width: 65px; height: 27px; width: 4.0625rem; height: 1.6875rem; border-radius: 5px; border: 1px solid #bbb; font-size: 13px; font-size: 0.8125rem; font-weight: 400}
.shopping_icon{}
.shopping_icon a{}
.shopping_icon a img{width: 34px; height: 27px; width: 2.125rem; height: 1.6875rem}

.main_menu{width: 100%; height: 45px; height: 2.8125rem; background: #c8102e; line-height: 2.8125rem}
.menu_inner{width: 100%;}
.m_main_menu{width: 100%;}
.m_main_menu li{float: left; width: 33.333%; text-align: center;}
.m_main_menu li a{color: white; font-weight: 500; font-size: 15px; font-size: 0.9375rem}

.sub li{float: left;}


/*section*/

#contents{width: 100%;}
.bg_gray{width: 100%; background: url(../img/wh_new_bg.jpg) no-repeat fixed;}
.banner{position: relative; width: 100%; height: auto}
.m_banner{width: 100%; margin-top: 15px; margin-top: 0.9375rem;}
.banner_num{position: absolute; background: rgba(0,0,0,.3); width: 69px; height: 40px; width: 4.3125rem; height: 2.5rem; text-align: center; line-height:  2.5rem; bottom: 4.5px; bottom: 0.28125rem; right: 0;}
.banner_num p{color: #fff; font-size: 12px; font-size: 0.75rem; font-weight: 600}

.order_area{width: 86%; margin: 0 auto; margin-top: 16px; margin-top: 1rem;}
.m_t_order{background: #c8102e; text-align: center; height: 48px; height: 3rem; line-height: 3rem; border-radius: 5px; border-radius: 0.3125rem;}
.m_t_order a{color: #fff; font-weight: 500;}
.m_t_order a img{width: 15px; width: 0.9375rem; position: relative; top: 3px; top: 0.1875rem; margin-right: 5px; margin-right: 0.3125rem}

.m_t_order_icon{display: flex; flex-direction: row; justify-content: space-between; width: 100%; text-align: center; margin-top: 30px; margin-top: 1.875rem;}
.m_t_order_icon li{}
.m_t_order_icon li img{width: 85%;}
.m_t_order_icon li p{font-size: 13px; font-size: 0.8125rem; font-weight: 100; color: #666; margin-top: 10px; margin-top: 0.625rem; margin-left: 3px; margin-left: 0.1875rem; margin-bottom: 20px; margin-bottom: 1.25rem;}

.con_ad{width: 100%; display: flex; flex-flow: row wrap; justify-content: space-between; align-content: space-between}
.con_ad img{width: 100%; margin-bottom: 10px; margin-bottom: 0.625rem; box-shadow: 3px 3px 5px rgba(0,0,0,0.2)}

.con_ad_gray{width: 100%; height: auto; height: auto; background: #e9ebec;}
.membership{width: 100%; display: flex; flex-flow: row wrap; justify-content: space-between; align-content: space-between; padding-top: 15px; padding-top: 0.9375rem; margin-top: 5px; margin-top: 0.3125rem; margin-bottom: 0.3125rem}
.membership img{width: 100%; padding-bottom: 15px; padding-bottom: 0.9375rem;}

.calling_area{width: 100%; height: auto; margin-top: 1rem;}
.calling_area > div{height: 62px; height: 3.875rem; margin-bottom: 1px; background: #ababab;  position: relative;}
.calling_area > div img{padding-top: 20px; padding-top: 1.25rem; padding-left: 10px; padding-left: 0.625rem; float: left; margin-right: 10px; margin-right: 0.625rem; width: 20px; width: 1.25rem;}
.calling_area > div p{color: #fff; font-size: 14px; font-size: 0.875rem; padding-top: 13px; padding-top: 0.8125rem; line-height: 1.2;}
.calling_area > div span{color: #fff; font-size: 14px; font-size: 0.875rem; display: block; float: left;}
.calling_btn{border: 1px solid #fff; width: 76px; width: 4.75rem; height: 32px; height: 2rem; border-radius: 13px; border-radius: 0.8125rem; position: absolute; top: 15px; top: 0.9375rem; right: 10px; right: 0.625rem; line-height: 2rem; text-align: center;}
.calling_btn a{display: block; color: #fff; font-size: 13px; font-size: 0.8125rem; width: 100%; height: 100%;}

.footer_top_menu{width: 100%; height: 45px; height: 2.8125rem; line-height: 43px; line-height: 2.6875rem; border-top: 1px solid #acacac; border-bottom: 1px solid #acacac; margin: 20px 0; margin: 1.25rem 0;}
.footer_top_menu li{float: left; width: 33.33%; text-align: center;}
.footer_top_menu li a{font-size: 14px; font-size: 0.875rem;}
.color_red a{color: #c8102e;}

.footer_middle_menu{width: auto; margin: 0 auto; margin-top: 40px}
.footer_middle_menu li{text-align: center; float: left; width: 50%;}
.footer_middle_menu li a{color: #555; font-size: 14px; font-size: 0.875rem;}
.footer_middle_menu li a img{width: 45px; width: 2.8125rem;}

.footer_eng{width: 94%; margin: 0 auto; height: 45px; height: 2.8125rem; border: 1px solid #ccc; line-height: 2.8125rem; text-align: center; border-radius: 5px; border-radius: 0.3125rem; margin-top: 50px; margin-top: 3.125rem; margin-bottom: 20px; margin-bottom: 1.25rem}
.footer_eng a{color: #767676; font-size: 14px; font-size: 0.875rem; display: block;}

.footer_bottom{width: 94%; margin: 0 auto; font-size: 12px; font-size: 0.75rem; margin-bottom: 30px; margin-bottom: 1.875rem}
.foot_logo{margin-bottom: 20px; margin-bottom: 1.25rem}
.info_left{margin-bottom: 20px; margin-bottom: 1.25rem}
.info_left li p{margin-top: 10px; margin-top: 0.625rem;}
.kbpi{margin-bottom: 5px; margin-bottom: 0.3125rem}



/*display: none*/
.pc_top_left, .join_area, .p_main_menu_left, .sub_menu, .p_main_menu_right, .sub_menu_bg, .t_1_banner, .only_tablet, .t_banner_btn{display: none}