@charset "UTF-8";

@media screen and (min-width: 1024px){
    .head_inner{width: 1180px; width: 73.75rem; margin: 0 auto;}
    .top_logo{height: 64px; height: 4rem;}
    .top_logo a img{width: 78px; height: 81px; width: 4.875rem; height: 5.0625rem}
    
    .pc_top_left{display: block; display: flex; flex-direction: row; justify-content: space-between; position: absolute; top: 18px; top: 1.125rem; width: 220px; width: 13.75rem}
    .pc_top_left li{}
    .pc_top_left li a{font-size: 14px; font-size: 0.875rem; color: #333; font-weight: 500; line-height: 24px; line-height: 1.5rem;}
    .Biz{border: 2px solid #c8102e; border-radius: 8px; border-radius: 0.5rem; text-align: center;  width: 96px; height: 28px; width: 6rem; height: 1.75rem; line-height: 20px; line-height: 1.25rem; box-sizing: border-box;}
    .top_eng, .store_search{position: relative; top: 3px; top: 0.1875rem}
    
    .top_right{right: 0; top: 20px; top: 1.25rem; width: 250px; width: 15.625rem}
    .join_area{display: block;}
    .join{display: flex; flex-direction: row; width: 200px; justify-content: space-between; position: relative; top: 5px; top: 0.3125rem}
    .join li{font-size: 12px; font-size: 0.75rem}
    .join li a{font-size: 14px; font-size: 0.875rem; color: #333; font-weight: 500}
    .shopping_icon a img{width: 33px; height: 25px; width: 2.0625rem; height: 1.5625rem}
    
    .main_menu{height: 63px; height: 3.9375rem; line-height: 3.9375rem;}
    .menu_inner{width: 1180px; width:73.75rem; margin: 0 auto;}
    .p_main_menu_left{display: flex; flex-direction: row; text-align: center; float: left;}
    .p_main_menu_left>li{margin-right: 25px; margin-right: 1.5625rem}
    .p_main_menu_left>li>a{color: #fff; font-weight: 500; display: block; }
    .p_main_menu_left>li>a:hover{border-bottom: 5px solid #ffc227; height: 58px; height: 3.625rem; width: auto;}
    .black_menu_area{text-align: left;}
    .black_menu_area a img{margin-top: 17px; margin-top: 1.0625rem;}
    
    .p_main_menu_right{float: right; display: flex; justify-content: space-between; width: 460px; margin-top: 14px; margin-top: 0.875rem;}
    .p_main_menu_right li{background: #fff; width: 110px; height: 36px; width: 6.875rem; height: 2.25rem; text-align: center; line-height: 2.25rem; border-radius: 10px; border-radius: 0.625rem;}
    .p_main_menu_right li:nth-child(2){background: #ffc227;}
    .p_main_menu_right li:nth-child(2) a{ color: #222;}
    .p_main_menu_right li:nth-child(2) a img{width: 18px; position: relative; top: 5px; left: -3px; width: 1.125rem; top: 0.3125rem; left: -0.1875rem;}
    .p_main_menu_right li:nth-child(3) a img{width: 18px; position: relative; top: 5px; left: -3px; width: 1.125rem; top: 0.3125rem; left: -0.1875rem;}
    .p_main_menu_right li:nth-child(4) a img{width: 20px; position: relative; top: 4px; left: -3px; width: 1.25rem; top: 0.25rem; left: -0.1875rem;}
    .p_main_menu_right li a{ color: #c8102e; font-size: 15px; font-size: 0.9375rem; display: block; font-weight: 500;}
	
	.sub_menu{display: none; height: 45px; height: 2.8125rem; line-height: 2.8125rem; z-index: 100;  position: absolute;}
	.sub_menu li{float: left; margin-right: 18px; margin-right: 1.125rem}
	.sub_menu li a:hover{color: #ffc227}
	.com_area{height: 63px; }
	.pizza_area{width: 50px; width: 3.125rem}
	.pizza{width:1920px; margin-left: -400px; padding-left: 400px}
/*	.pizza{width: 480px; width: 30rem;}*/
	.pizza a{display: block ;}
	.new_area{width: 90px; width: 5.625rem;}
	.new{width:1920px; margin-left: -400px; padding-left: 400px}
/*	.new{width: 170px; width: 10.625rem; }*/
	.hit_icon{position: relative; top: 3px; top: 0.1875rem; margin-right: 5px; margin-right: 0.3125rem}
	.side_area{width: 100px; width: 6.25rem; display: block}
	.side{width:1920px; margin-left: -400px; padding-left: 400px}
/*	.side{width: 450px; width: 28.125rem}*/
	.discount_icon{position: relative; top: 4px; top: 0.25rem; margin-right: 4px; margin-right: 0.25rem}
	.event_area{width: 95px; width: 5.9375rem;}
/*	.event{width: 160px; width: 10rem}*/
	.event{width:1920px; margin-left: -400px; padding-left: 400px}
	
    
	.sub_menu_bg{height: 45px; height: 2.8125rem; width: 100%; background: #fff; display: block;  position: absolute; z-index: 50}
    
    
    /*section*/
    
	#contents{}
    .banner{width: 1180px; width: 73.75rem; margin: 0 auto;}
    .bg_gray{width: 100%; height: 470px; height: 29.375rem; background: url(../img/wh_new_bg.jpg) no-repeat fixed;}
    .t_1_banner{width: 100%; display: block; position: relative; top: 20px; top: 1.25rem; box-shadow: 5px 5px 10px rgba(0,0,0,0.1)}
    
    .t_banner_btn{display:flex; width: 200px; width: 12.5rem; justify-content: space-between; margin: 0 auto; margin-top: 28px}
    .t_banner_btn li{}
    .banner_btn{width: 12px; height: 12px; width: 0.75rem; height: 0.75rem; background: #fff; border-radius: 6px; border-radius: 0.375rem; text-indent: -9999px; margin-top: 8px; margin-top: 0.5rem}
    .banner_btn:hover{background: #c8102e;}
    .banner_btn a{display: block}
    .t_banner_btn li{float: left}
	
	.con_ad{width: 1180px; width: 73.75rem; margin: 0 auto; height: 550px; height: 34.375rem; margin-top: 20px; margin-top: 1.25rem; margin-bottom: 10px; margin-bottom: 0.625rem;}
	.con_ad img{width: 49.5%;}
    
	.membership img{width: 49.5%;}
    .membership{width: 1180px; width: 73.75rem; margin: 0 auto;}
    
    .calling_area{width: 1180px; width: 73.75rem; display: flex; flex-flow: row wrap; justify-content: space-between;margin: 1rem auto;}
    .calling_area > div{width: 49.95%;}
    .calling_area > div p{display: inline; padding-top: 0; position: absolute; top: 21px; top: 1.3125rem;}
    .calling_area > div span{position: absolute; right: 20px; right: 1.25rem; display: inline; top: 1.3125rem;}
    .calling_area > div img{width: 25px; height: 25px; width: 1.5625rem; height: 1.5625rem; padding-left: 20px; padding-left: 1.25rem; padding-top: 18px; padding-top: 1.125rem; }
    
    .footer_top_menu{width: 1180px; width: 73.75rem; margin: 20px auto; margin: 1.25rem auto}
    .only_tablet{display: block;}
    .footer_top_menu li{width: 12.5%;}
    
    .footer_middle_menu{width: 720px; width: 45rem; margin: 0 auto; margin-top: 50px; margin-top: 3.125rem;}
    .footer_middle_menu li{width: 16.66%;}
    
    .footer_bottom{width: 1180px; width: 73.75rem; margin-top: 40px; margin-top: 2.5rem; position: relative;}
    .foot_logo{float: left; margin-right: 20px; margin-right: 1.25rem}
    .info_left{float: left;}
    .kbpi{position: absolute; top: 0; right: 110px; right: 6.875rem; margin-bottom: 0;}
    .info_right{position: absolute; top: 60px; top: 3.75rem; right: 0; text-align: center; margin-bottom: 30px; margin-bottom: 1.875rem}
    
    
    /*display:none*/
    .top_left, .top_login, .m_main_menu, .sub_menu_bg, .m_banner, .banner_num, .order_area, .calling_btn, .footer_eng{display: none}
}